<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979975989948-p5c1opdkadsk96g5ki1bbavg2eosl773.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979975989948-p5c1opdkadsk96g5ki1bbavg2eosl773</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979975989948-a23fbfjpgfoo2cfj0oualpmd2q7p1oi6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBosTRsS1WFNt6zpemsUfGOO7t0YcO2bKo</string>
	<key>GCM_SENDER_ID</key>
	<string>979975989948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenkostudio.wedding</string>
	<key>PROJECT_ID</key>
	<string>wedding-59444</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-59444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979975989948:ios:048a8ec7baebc41696beb9</string>
	<key>DATABASE_URL</key>
	<string>https://wedding-59444.firebaseio.com</string>
</dict>
</plist>